In [1]:
num=10
for i in range(1,11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
total=0
l=[1,2,3,4,5]
for i in range(0,len(l)):
    total=total+l[i]
print('Sum of all the list:', total)

Sum of all the list: 15

In [3]:
def reverse(s):
    str=''
    for i in s:
        str=i+str
    return str
    str='Karan'
    print('The original string is:', str)

In [4]:
reverse('Javat')

'tavaJ'

In [5]:
num=int(input('Enter a number'))
fac=1
if n>=1:
    for i in range(1,num+1):
        fac=fac*i
        print('Factorial of',num, 'is', fac)

Enter a number5

NameError: name 'n' is not defined

In [6]:
n=int(input('Enter a num'))
myrange=range(1,6)
for x in myrange():
    result=n*x
    print(n,'*','X','=',result)

Enter a num4

TypeError: 'range' object is not callable

In [7]:
n=int(input('Enter a num: '))
print('The mulitplication of number: ', n)
for count in range(1,6):
    print(n,'X', count, '=', n*count )

Enter a num: 5
The mulitplication of number:  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [8]:
def even():
    for i in range(12):
        if i%2==0:
            print(i,end=' ')

In [9]:
even()

0 2 4 6 8 10

In [10]:
l1=[1,2,5,3,6,8,10,16,13]
even, odd=0,0
for num in l1:
    if num%2==0:
        even+=1
    else:
        odd+=1
    print('Even num in list are: ', even)
    print('Odd num in list are: ', odd)

Even num in list are:  0
Odd num in list are:  1
Even num in list are:  1
Odd num in list are:  1
Even num in list are:  1
Odd num in list are:  2
Even num in list are:  1
Odd num in list are:  3
Even num in list are:  2
Odd num in list are:  3
Even num in list are:  3
Odd num in list are:  3
Even num in list are:  4
Odd num in list are:  3
Even num in list are:  5
Odd num in list are:  3
Even num in list are:  5
Odd num in list are:  4

In [11]:
num=5
for i in range(0,num+1):
    print(i**2, end=' ')

0 1 4 9 16 25

In [12]:
string='Karan'
count=0
for i in string:
    count+=1
    print(count,end=' ')

1 2 3 4 5

In [13]:
list1=[1,2,3,4,5,6,8]
def avrg(list1):
    return sum(list1)/len(list1)
avrg=avrg(list1)
print('average of the list= ', round(avrg,2))

average of the list=  4.14

In [14]:
frt=0
snd=1
print(frt)
print(snd)
for x in range(0,5):
    trd=frt+snd
    print(trd)
    frt,snd=snd,trd

0
1
1
2
3
5
8

In [15]:
lst=[1,2,3,1,4,2,3,6]
unqlst=[]
dplst=[]
for i in lst:
    if i not in unqlst:
        unqlst.append(i)
    elif i not in dplst:
        dplst.append(i)
    print(dplst, end=' ')

[] [] [] [1] [1] [1, 2] [1, 2, 3] [1, 2, 3]

In [16]:
start=int(input('Enter the lower bound'))
stop=int(input('Enter the upper bound'))
print('Prime number between', start, 'and', stop, 'are: ')
for val in range(start,stop):
    if val>1:
        for i in range(2,val):
            if(val%i)==0:
                break
        else:
            print(val, end=' ')

Enter the lower bound2
Enter the upper bound5
Prime number between 2 and 5 are:
2 3

In [17]:
string=input('Enter the string: ')
count=0
string=string.lower()
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
if count==0:
    print('No vowels found')
else:
    print('Total vowels are: '+ str(count))

Enter the string: karan
Total vowels are: 2

In [18]:
def prod(lis):
    maxi=0
    for x in lis:
        p=1
        for i in x:
            p*=i
            maxi=max(p,maxi)
    return maxi

In [19]:
l=[[1,2,3],[4,5],[0,1,6]]
print(prod(l))

20

In [20]:
lst=[1,2,1,2,1,4,5,6,7,1]
n=1
print('Original list:')
print(lst)
for i in lst:
    if i==n:
        lst.remove(i)
print('list after removing elements')
print(lst)

Original list:
[1, 2, 1, 2, 1, 4, 5, 6, 7, 1]
list after removing elements
[2, 2, 4, 5, 6, 7]

In [21]:
import sys
for i in range(1,6):
    for j in range(1,11):
        k=i*j
        print(k, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [22]:
celsius=47
fahrenheit=(celsius*1.8)+32
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'
      % (celsius, fahrenheit))

47.00 Celsius is equivalent to: 116.60 Fahrenheit

In [23]:
def common_element(a, b):
    list_one = set(a)
    list_two = set(b)
    if (list_one & list_two):
        print(list_one & list_two)
    else:
        print("There are no common elements") 
a = [5, 10, 15, 20, 25, 30]
b = [10, 20, 30, 40, 50, 60]
common_element(a, b)
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
common_element(a, b)

{10, 20, 30}
There are no common elements

In [24]:
x=int(input('Enter the row number=\n'))
for i in range(x):
    for j in range(i+1):
        print('*', end=' ')
    print("")

Enter the row number=
5
*
* *
* * *
* * * *
* * * * *

In [25]:
import math
print('The GCD of 48 and 60 is: ', end=' ')
print(math.gcd(48,60))

The GCD of 48 and 60 is:  12

In [26]:
def sieve(n):
    prime_lst=[]
    for i in range(2,n+1):
        if i not in prime_lst:
            print(i)
            for j in range(i*i, n+1,i):
                prime_lst.append(j)
print(sieve(20))

2
3
5
7
11
13
17
19
None

In [34]:
n=int(input('Enter the value of n: '))
a=0
b=0
c=0
m=2
triples=[]
while c<n:
    for i in range(1,m,1):
        a=m*m-i*i
        b=2*m*i
        c=m*m+i*i
        if c>n:
            break
            
        triples.append((a,b,c))
    m+=1
print(triples)

Enter the value of n: 5
[(3, 4, 5)]

In [35]:
num1=[1,2,3]
num2=[3,4,5,6]
nums=[(x,y) for x in num1 for y in num2]
print(nums)

[(1, 3), (1, 4), (1, 5), (1, 6), (2, 3), (2, 4), (2, 5), (2, 6), (3, 3), (3, 4), (3, 5), (3, 6)]

In [36]:
num=[1,2,3,4,5,6]
no=len(num)
summ=sum(num)
mean=summ/no
print('The mean of list is ', str(mean))

The mean of list is  3.5

In [37]:
from math import factorial
n=5
for i in range(n):
    for j in range(n-i+1):
        print(end=' ')
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [38]:
def sum_fact(n):
    fact=1
    for i in range(2,n+1):
        fact*=i
    sum_digit=0
    for digit in str(fact):
        sum_digit+=int(digit)
    return sum_digit
print(sum_fact(10))
print(sum_fact(20))

27
54

In [44]:
def max_str(lst):
    return max(lst, key=len)
print(max_str(['Karan','PWSKILLS']))
print(max_str(['Karan','garhwali', 'uttrakhandi']))

PWSKILLS
uttrakhandi

In [45]:
sum = 0 
for i in range(1,1001):
    sum += i
    news
print(sum)

500500